.vs/
.vscode/
[Dd]ebug/
[Rr]elease/
x64/
*.user
*.aps
*.pdb
*.log
*.obj
*.ilk
vc140.pdb
*.suo
*.opensdf
*.VC.db
*.ipch
*.tlog
*.lastbuildstate
*.cache
*.dbmdl
*.rptproj.user
*.vcxproj.user
*.filters.user
*.dll
*.exe
*.lib
*.exp
*.ncb
*.sdf
*.ipdb
*.psess
*.vsp
*.vspx
*~
*.vcxproj.*

*.exe